# Logs
*.log
/storage/logs

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.backup
.env.production

# Editor configs
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json

# Node & Laravel build
/node_modules
/public/build
/public/hot
/public/storage

# Storage sensitive
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Vendors
/vendor

# Homestead
Homestead.json
Homestead.yaml
